<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>doLatr</title>
		<link rel="stylesheet" th:href="@{/resources/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/resources/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/resources/messages/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">doLatr</a></h1>
		</div>
		
		<div id="content" layout:fragment="content">
			<h3>Connect to Twitter</h3>
				
				<div th:if="${social_addConnection_duplicate}"><p>
				Another dolatr account already is linked with twitter account. 
				Please disconnect if it's your account. 
					Or connect a different twitter account."</p>
				</div>
				
			
			<form th:action="@{/connect/twitter}" method="POST">
				
				<div class="formInfo">
					<p>
						You haven't created any connections with Twitter yet. Click the button to connect doLatr with your Twitter account. 
						(You'll be redirected to Twitter where you'll be asked to authorize the connection.)
					</p>
				</div>
				
				<p><button type="submit"><img th:src="@{/resources/social/twitter/connect-with-twitter.png}"/></button></p>
				<label for="postTweet"><input id="postTweet" type="checkbox" name="postTweet" /> Post a tweet about connecting with doLatr</label>
			</form>
		</div>
	</body>
</html>