<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>doLatr</title>
		<link rel="stylesheet" th:href="@{/resources/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/resources/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/resources/messages/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">doLatr</a></h1>
		</div>
		
		<form id="signup" th:action="@{/signup}" method="post" th:object="${locaUserExistsForm}">				
			<p>Please <a href="signin" class="btn btn-default"><span class="fa fa-user"></span>Signin</a> in with your username: <span th:text="${localUsername}"></span>!</p>

		</form>
		
	</body>
</html>