<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>doLatr</title>
		<link rel="stylesheet" th:href="@{/resources/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/resources/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/resources/messages/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">doLatr</a></h1>
		</div>
		
		<div id="leftNav">
		
			<h4><a th:href="@{/connect}">Connections</a></h4>
			
			<h4><a th:href="@{/twitter}">Twitter</a></h4>
			<div social:connected="twitter">
				<ul class="menu">
					<li><a th:href="@{/twitter}">User Profile</a></li>
					<li><a th:href="@{/twitter/timeline}">Timeline</a></li>
					<li><a th:href="@{/twitter/friends}">Friends</a></li>
					<li><a th:href="@{/twitter/followers}">Followers</a></li>
					<li><a th:href="@{/twitter/messages}">Messages</a></li>
					<li><a th:href="@{/twitter/trends}">Trends</a></li>
				</ul>
			</div>
		</div>
		
		
		<div id="content" layout:fragment="content">
			<h3>Your Twitter Profile</h3>
			
			<p>Hello, <span th:text="${profile.name}"></span>!</p>
			<img th:src="${profile.profileImageUrl}"/>
			<dl>
				<dt>Twitter ID:</dt>
				<dd th:text="${profile.id}">profile id</dd>
				<dt>Screen name:</dt>
				<dd><a th:href="${profile.profileUrl}" target="_blank" th:text="${profile.screenName}"></a></dd>
				<dt>Description:</dt>
				<dd th:text="${profile.description}">description</dd>
				<dt>Location:</dt>
				<dd th:text="${profile.location}">location</dd>
				<dt>URL:</dt>
				<dd><a th:href="${profile.url}" th:text="${profile.url}">profile url</a></dd>
			</dl>
			
			<form id="disconnect" th:action="@{/connect/twitter}" method="post">
				
				<button type="submit">Disconnect from Twitter</button>	
				<input type="hidden" name="_method" value="delete" />
			</form>
		</div>
	</body>
</html>

